{% extends 'base.html.twig' %}
{% block title %}Présentation{% endblock %}
{% block body %}

    <!-- Page content-->
    <div class="container container2 mt-5" >
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="display-2 text-center mb-4 ">Une vie inspirée</h1>


                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="/images/imgbanner.jpg" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5 txtPresentation">
                        <p class="fs-5 mb-4">"Hildegarde fut une moniale bénédictine au coeur de l'Allemagne médiévale, authentique maîtresse en théologie et grande experte des siences naturelles"</p>
                        <p class="fs-5 mb-4">C'est par ces mots que le pape Benoît XVI résume avec une justesse sans égale la vie de celle qui allait recevoir la plus haute reconnaissance de l'Eglise catholique.</p>
                        <p class="fs-5 mb-4">Si les secrets et les remèdes d'Hildegarde n'ont jamais autant fait écho avec nos propres aspirations, en quête d'une alimentation plus naturelle et holistique, qui eût présagé en 1098, qu'Hildegarde allait marquer à jamais de ses connaissances, non seulement son siècle, mais également les suivants?</p>
                        <h2 class="fw-bolder mb-4 mt-5">"A l'age de 3ans, j'ai vu une lumière telle que mon âme a été bouleversée"</h2>
                        <p class="fs-5 mb-4">Ainsi, enfant, elle parle peu de ses visions, de peur probablement de n'être pas prise au sérieux ou pire, même si parfois, son jeune âge la pousse à se trahir.</p>
                        <p class="fs-5 mb-4">A 5 ans, par exemple, elle décrit avec la plus grande exactitude les particularités d'un veau qui se trouve encore dans le ventre de sa mère.</p>
                        <p class="fs-5 mb-4">Ses parents prennent alors conscience de toute la singularité de leur fille et décident de la confier à Jutta de Sponheim, fille du comte Stephen II.</p>
                        <p class="fs-5 mb-4">Dès l'âge de 8ans, elle quitte donc le cocon familial. Hildegarde tissera avec la jeune abbesse Jutta, de seulement septs ans son aînée, une profonde amitié et lui confiera peu à peu ses visions:</p>
                        <h2 class="fw-bolder mb-4 mt-3">"C'est tout éveillée que, de jour comme de nuit, je vois ces choses... Une lumière qui n'a pas d'origine et tellement plus lumineuse que celle qui entoure le soleil..."</h2>
                        <p class="fs-5 mb-4">Jutta décide alors d'en informer le moine Volmar, qui se révélera un ami et confident précieux pour Hildegarde tout au long de sa vie. A 15 ans, Hildegarde reçoit le voile des mains de l'évêque Otton de Bamberg, ce qui présage une destinée exceptionnelle</p>
                        <p class="fs-5 mb-4">Les années passent et, en 1136, Jutta décède, laissant le couvent orphelin. Qui mieux qu'Hildegarde pouvait reprendre le flambeau après avoir traversé toutes ces années de complicité à ses côtés?</p>
                        <p class="fs-5 mb-4">Devenue abbesse du couvent, elle partage ses journées entre travail intellectuel et religieux et soins pour ceux qui viennent la voir.</p>
                        <p class="fs-5 mb-4">Mais le calme apparent allait bientôt être rompu par une voix céleste... Car, en plus de ses visions, Hildegarde entend des voix qui lui ordonnent d'écrire et de divulger ses visions et prédictions.</p>
                        <p class="fs-5 mb-4">Probablement effrayée par l'immense tâche qui l'attend, Hildegarde refuse, au cours d'une prière, l'ordre venu du Ciel.</p>
                        <p class="fs-5 mb-4">Quand, soudain, un éclair la transperce de douleur, la laissant paralysée sur son lit. Il faudra alors l'intervention d'une religieuse, prénomée Richardis, de l'abbé Volmar, et de l'évêque pour qu'Hildegarde change d'avis et accepte l'ordre divin.</p>
                        <p class="fs-5 mb-4">En 1141, elle commencera l'écriture de son premier ouvrage intitulé "Scivias", dont la destinée allait connaître un rebondissement sans précédent...</p>


                    </section>
                </article>


            </div>


        </div>
    </div>

{% endblock %}